<div class="search-bar">
  <div class="container">
    <form action="/search" class="search__form" role="search" method="POST">
      <input type="search" aria-label="Search" id="search_input" name="search_term" placeholder="Search the site ..." />
    </form>
  </div>
  <div id="search_close">Close</div>
</div>